include AUTHORS.md CHANGELOG.md CONTRIBUTING.md SECURITY.md
include Dockerfile .dockerignore
recursive-include examples *.py
recursive-include scripts *.py *.sh
recursive-include tests *.py
recursive-include tests/fixtures *.json
recursive-include docs *.md *.json
global-exclude *.py[cod]
